h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    min-width: 100%;
}

button {
    display: block;
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    background-color: #1a1a1a;
    font-family: 'Barlow', sans-serif;
    color: #e6e6e6;
}

