.container {
    min-width: 320px;
    max-width: 390px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 1440px) {
    .container {
       max-width: 1440px;
       padding: 80px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 1920px;
        padding: ;
    }
    
}